:root {
  --color-primary: black;
  --color-secondary: #bababa;
  --font-primary: "Merriweather", serif;
  --font-secondary: "Merriweather Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}
